/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 1,5;
  background-color:  #bdc3c7;
  

}



h1{
  font-family: 'Roboto Mono', monospace;
}

.Hlavicka{
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 30%;
    position: absolut;
   
}

.foto{
  width: 100%;
  margin: 0;
}

.logo{
  position: relative;
  left: 95%;
  top:-20px;
  border: solid  #b92e81; 
  background-color: #b92e81;
  border-radius: 50%;
 
  
}


.kontejner {
  display: flex;
  border: solid 2px #3f464d;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #31363b;

 
  
}

.odkazy li{
  display: inline-block;

}

.odkazy a{
  color: white;
  font-family:'Roboto Mono', monospace; 
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  background-color: #31363b;



}
.odkazy a:hover, 
.odkazy a:focus,
.odkazy a:active{
  border: solid 2px #3f464d;
  
}
 


.portfolio {
  border: solid 2px #3f464d;
  flex-basis: 200%;
  order: 1;
  text-align: center;

  
 

}
.portfolio:hover{
background-color:#e74c3c ; 
border: solid 2px #3f464d;


}
.facebook{
  border: solid 2px #3f464d;
  flex-basis: 50%;
  order: 2;
}

.facebook:hover{
  background-color:#3b5998 ;
  
}

.twitter{
  flex-basis: 50%;
  order: 3;
  border: solid 2px #3f464d;
  
}
.twitter:hover{
  background-color:  #1da1f2;
  border: solid 2px #3f464d;
}

.obsah{
  margin-left: 0;
  margin-right:0 ;
  padding: 0;
  background-color: #31363b;
}