/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #31363b;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 1,5;
}

h1{
  font-family: 'Roboto Mono', monospace;
}

.hlavicka {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
   
}
.foto{
  width: 100%;
  margin: 0;
}

.logo{
  position: ;
}

